@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes takoAnim {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px -151px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.tako-animate {
  animation: takoAnim 1s steps(1) infinite;
}
